.header{
    background-color: white;
    box-shadow: 0px 0px 6px gray;
    width: 100vw;
}
.nav{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    .title{
        padding: 10px 20px;
    }
    ul{
        display: flex;
        height: 100%;
        width: 100%;
        position: relative;
        .barNav{
            width: 50px;
            height: 3px;
            position: absolute;
            display: none;
            bottom: 0;
            left: 0;
            transition: all .3s ease-out;
            border-radius: 5px;
            background: linear-gradient(rgb(45, 106, 224) 0%, rgb(29, 80, 213) 100%);
        }
        li{
            &:hover > .navContent{
                display: block;
            }
            .navTitle{
                cursor: pointer;
                padding: 20px
            }
            .navContent{
                position: fixed;
                height: 60vh;
                width: 1200px;
                left: calc((100vw - 1200px)/2);
                background: linear-gradient(rgb(45, 106, 224) 0%, rgb(29, 80, 213) 100%);
                display: none;
                border-radius: 0 0 10px 10px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            }
        }
    }
}